accelerate==0.34.2
bitsandbytes==0.49.2
datasets==2.20.0
evaluate==0.4.3
peft==0.12.0
transformers==4.45.2
trl==0.9.6
tokenizers==0.20.2
sentencepiece==0.2.0
protobuf

pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
tqdm==4.66.5

sentence-transformers==3.1.1
rouge_score==0.1.2
absl-py==2.1.0
nltk==3.9.1
beautifulsoup4==4.12.3
markdown==3.7

langchain==0.3.7
langchain-community==0.3.4
langchain-core==0.3.15
langchain-huggingface==0.1.0
langchain-openai==0.2.4
openai==1.54.1
mitreattack-python==2.0.14